<CascadingAuthenticationState>
    <ErrorBoundary>
        <ChildContent>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            @if (context.User.Identity?.IsAuthenticated != true)
                            {
                                <RedirectToLogin />
                            }
                            else
                            {
                                <p role="alert">Bạn không có quyền truy cập trang này.</p>
                            }
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </ChildContent>
        <ErrorContent Context="ex">
            <div class="alert alert-danger m-4" role="alert">
                <h4 class="alert-heading">Critical Render Error!</h4>
                <p>@ex.Message</p>
                <hr>
                <pre style="white-space: pre-wrap;">@ex.StackTrace</pre>
            </div>
        </ErrorContent>
    </ErrorBoundary>
</CascadingAuthenticationState>
